/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;

}

.footer {
  position: absolute;
  padding: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #333;
  box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.65);
}

.footer-menu a{
  font-size: 14px;
  color: white;
}

.footer-menu a:hover {
  color: #E5DCDC;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020;
}

.yellow {color: yellow;}
.white {color:white;}

a.navbar-brand{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 12px 0 0 20px;
  text-shadow: 1px 1px 4px #F9F3F3;
}

h3 {
  margin-top: 0px;
}
  
.short-desc {
  font-size: 1.2em;
  font-weight: 500; 
  line-height: 1.4em;
}

.material-icons{
  vertical-align: middle;
}

div.col-xs-12.col-sm-6.responsive-align{
  text-align: left;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  div.col-xs-12.col-sm-6.responsive-align{
    text-align: right;
  }
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
  /*background: url(/img/lil_nap.png) right bottom no-repeat, url(/img/paper_texture_02.jpg) no-repeat ;*/
  box-shadow: inset 0px 0px 600px rgba(0, 0, 0, 0.80);
  background-size: cover;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.spring-register-button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}

.spring {
  background:  url(/img/spring_bg.jpg) no-repeat ;
  background-position:50%40%;
}

.roundup {
  background:  url(/img/roundup.jpg) no-repeat ;
  background-position:50%40%;
}

.jumbotron h1{
  font-weight: 600;
}

.jumbotron .quote {
  font-weight: 300;
}

.insert {
  background:  url(/img/roundup.jpg) no-repeat ;
  background-position:50%40%;

}

.jumbotron p{
  font-weight: 600;
  font-size: 1.2em;
  text-shadow: 1px 1px 4px #0C0000;
}

h3.shadowed {
  text-shadow: 1px 1px 2px #5F5959 !important;
}

h1 {
  text-shadow: 1px 1px 2px #5F5959 !important;
}

.jumbotron img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.row.equal {
  display: flex;
  flex-wrap: wrap;
}
  
a:hover{
  text-decoration: none;
}

.social-facebook {
  width: 30px;
  height:30px;
  display:block;
  background:url('/img/social-facebook.png');
  background-size:30px;
}

.social-google {
  width: 30px;
  height: 30px;
  display:block;
  background:url('/img/social-google.png');
  background-size:30px;
}

.social-twitter {
  width: 30px;
  height:30px;
  display:block;
  background:url('/img/social-twitter.png') center top no-repeat;
  background-size:30px;
}

.panel-default > .panel-heading-schedule {
  background: #2a88bd; 
  color: #fff;
  text-shadow: 1px 1px 4px #0C0000;
}

.badge-primary {
  background-color: #3097D1;
  font-size: 18px;
  padding: 0.4em 0.2em;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.dice-text {
    padding-left:1em;
}

.bottom-margin {
    margin-bottom: 1em;
}

.left-margin {
    margin-left: 1em;
    margin-bottom: 0.4em;
}

.playset-heading {
  background-color: #2a88bd !important;
}

.playset-heading a{
  color: white;
  text-shadow: 1px 1px 2px #2C2A2A !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.thumbnail{
  height: 200px;
}

.thumbnail > img {
  height: 100%;
}
