/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 160px;

  }
  .footer {
    position: absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 160px;
    background-color: #333;
  }
  
  .footer-menu a{
    font-size: 14px;
    
    color: white;
  }
  .footer-menu a:hover {
    color: #E5DCDC;

  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #202020;
  }

  .yellow {color: yellow;}
  .white {color:white;}

  a.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 12px 0 0 20px;
    text-shadow: 1px 1px 4px #F9F3F3;
  }
  h3 {
    margin-top: 0px;
  }
  
.short-desc {

  font-size: 1.2em;
  font-weight: 500; 
  line-height: 1.4em;
}
.material-icons{
  vertical-align: middle;
}

div.col-xs-12.col-sm-6.responsive-align{
  text-align: left;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  div.col-xs-12.col-sm-6.responsive-align{
    text-align: right;
  }
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
  background: url(/img/lil_nap.png) right bottom no-repeat, url(/img/paper_texture_02.jpg) no-repeat ;
  box-shadow: inset 0px 0px 600px rgba(0, 0, 0, 0.80);
  background-size: 200px, cover;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.jumbotron h1{
  font-weight: 600;

}

.jumbotron .quote {
  font-weight: 300;

}

.jumbotron p{
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 1px 1px 4px #0C0000;
}

h3.shadowed {
  text-shadow: 1px 1px 2px #5F5959 !important;
}
h1 {
  text-shadow: 1px 1px 2px #5F5959 !important;
}

.jumbotron img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }

  
a:hover{
  text-decoration: none;
}


.social-facebook {
  width: 40px;
  height:40px;
  display:block;
  background:url('/img/social-facebook.png');
  background-size:40px;
}


.social-google {
  width: 40px;
  height:40px;
  display:block;
  background:url('/img/social-google.png');
  background-size:40px;
}


.social-twitter {
  width: 40px;
  height:40px;
  display:block;
  background:url('/img/social-twitter.png') center top no-repeat;
  background-size:40px;
}

